body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}